# ---------- Line endings ----------
/mvnw text eol=lf
*.cmd text eol=crlf

# ---------- Help GitHub Linguist detect language correctly ----------
*.java linguist-language=Java
*.xml linguist-language=Java
*.properties linguist-language=Java
*.html linguist-language=Java

